@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=New+Amsterdam&display=swap');
*{
    margin:0px ;
    padding:0px ;
}
:root{
    --cinza-escuro: #333333ff;
    --cinza-claro: #d5ccc7ff;
    --prata: #a9a29cff;
    --preto-cinza: rgb(110, 108, 114);
    --font-titulo:"New Amsterdam", sans-serif;
    --font-texto:"Amatic SC", sans-serif;
    
}

body{
  background-color: var(#000000) ;
  font-family: var(--font-texto);
  font-size: 22px;
  font-weight: 20px;

  
}

.cabecalho{
    background-color:rgb(0, 0, 0);
    display: flex;
    background-color:rgb(185, 141, 66);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cabecalho-img{
    width: 30%;
    margin-left: 35px;
    margin-top: 11px;
    border-radius: 100%;
    background-color: black;

}
.cabecalho-nav_link{
text-decoration: none;
font-size: 33px;
color:rgb(0, 0, 0);
margin-right: 50px;
font-family: var(--font-titulo);
}

.cabecalho-nav_link:hover{
    color: var(--prata);
    font-size: 25px;
    transition: 0.15s;
}

.principal-capa{
    display: flex;
    justify-content: center;
    align-items:  center;
    gap: 500px;
    background-image: url(img/fundo\ preto.jpg);
    background-repeat: no-repeat;
    margin-left: 0px;
    padding: 5px 5px;
    
}
.principal-capa__conteúdo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
    margin-right: 500px;
    width: 60%;

}

.principal-capa__imagem{ 
    border-radius: 100% 100%;
    margin-left: 150%;
    width: 70%;
    margin-top: 0%;

}


.principal-capa__titulo{
    color: rgb(227, 176, 80);
    flex-direction: column;
    text-align: left;
    margin-right: 100px;
    font-family: var(--font-titulo);
    font-size: 50px;


}

.principal-capa__subtitulo{
    color: rgb(145, 121, 15);
    flex-direction: column;
    font-size: 125%;

}

.principal-capa__combotao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.principal-capa__botao{
    background-color:rgba(207, 204, 43, 0.538);
    color: black;
    text-decoration: none;
    border-radius: 5%;
    font-weight: 500%;
    font-weight: 1000;
    }
.principal-capa__botao:hover{
   background-color: rgb(216, 183, 63);
   color: black;
   transition: 0.7s;
}

.propaganda-imagem{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    width: 20px;

    }





