@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
*{ 
    margin: 0;
    padding: 0;
}

:root{
    --cinza-escuro: #333333ff;
    --cinza-claro: #d5ccc7ff;
    --prata: #a9a29cff;
    --preto-cinza: rgb(110, 108, 114);
    font-family:  url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');;
}

body{
  background-color: var(#c90505) ;
  font-family: var(--cinza-claro);
  font-size: 16px;
  
}

.cabecalho{
    background-color : var (#5c5a5a);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cabecalho.img{
    width: 10%;
    border-radius: 100%;

}
.cabecalho-nav_link{
text-decoration: none;
font-size: 36px;
color: var(--preto-cinza);
margin-right: 10px;
}

.cabecalho-nav_link:hover{
    color: var(--cinza-escuro);
    font-size: 46px;
    transition: 0.15s;
}

.principal-capa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-image: url(img/vecteezy_abstract-background-modern-dynamic-background-usable-for_36490934.jpg);
    background-repeat: no-repeat;
    margin-left: 2px;
    padding: 24px 12px;
    
}
.principal-capa__conteúdo{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.principal-capa__imagem{
    border-radius: 100% 100%;
    margin-left: 50%;
}

.principal-capa__titulo{
    color: white;
}



