@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=New+Amsterdam&display=swap');
*{
    margin:0px ;
    padding:0px ;
}
:root{
    --cinza-escuro: #333333ff;
    --cinza-claro: #d5ccc7ff;
    --prata: #a9a29cff;
    --preto-cinza: rgb(110, 108, 114);
    --font-titulo:"New Amsterdam", sans-serif;
    --font-texto:"Amatic SC", sans-serif;
    
}

body{
  background-color: var(#000000) ;
  font-family: var(--font-texto);
  font-size: 22px;
  font-weight: 20px;

  
}

.cabecalho{
    background-color:rgb(0, 0, 0);
    display: flex;
    background-image: url(img/vecteezy_abstract-background-modern-dynamic-background-usable-for_36490934.jpg);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cabecalho-img{
    width: 10%;
    border-radius: 1000%;

}
.cabecalho-nav_link{
text-decoration: none;
font-size: 22px;
color:black;
margin-right: 50px;
font-family: var(--font-titulo);
}

.cabecalho-nav_link:hover{
    color: var(--prata);
    font-size: 25px;
    transition: 0.15s;
}

.principal-capa{
    display: flex;
    justify-content: center;
    align-items:  center;
    gap: 50px;
    background-image: url(img/vecteezy_minimal-geometric-background-dynamic-shapes-composition_24552404.jpg);
    background-repeat: no-repeat;
    margin-left: 2px;
    padding: 10px 10px;
    
}
.principal-capa__conteúdo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
    margin-right: 500px;
    width: 60%;

}

.principal-capa__imagem{
    border-radius: 100% 100%;
    margin-left: 150%;
    width: 60%;

}

.principal-capa__titulo{
    color: rgb(255, 255, 255);
    flex-direction: column;
    text-align: left;
    margin-right: 100px;
    font-family: var(--font-titulo);

}

.principal-capa__subtitulo{
    color: white;
    flex-direction: column;

}

.principal-capa__combotao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.principal-capa__botao:hover{
    transition: 1.2s;
    background-color:rgb(122, 122, 122);
    color: black;
    text-decoration: none;
    border-radius: 220px;
 

    }



